.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;

    .error-icon {
        width: 50%;
        padding-bottom: 2rem;
    }

    .error-info {
        text-align: center;
        line-height: 1.5;

        span {
            color: $primary-color;
        }
    }

    .other-options {
        width: 50%;
        display: flex;
        justify-content: space-between;
        gap: 1rem;

        button {
            width: 130px;
            height: 40px;
            margin-top: 2.5rem;
            color: $white-color;
            font-weight: $bold-font-weight;
            background: $primary-color;
        }
    }
}

.error-message {
    margin: 1rem 0;
    padding: .5rem 1rem;

    p {
        background: rgba(251, 84, 84, 0.948);
        border: red 1px solid;
        font-size: 14px;
        padding: .5rem 0;
        color: $white-color;
        min-width: 210px;
        min-height: 40px;
        background: rgb(218, 5, 5);

    }
}