.icon {
    font-size: 18px;
    color: $white-color;
    padding: .2rem;



}

.text {
    visibility: hidden;
}

aside {
    background: $tertiary-color;
    height: 100vh;
    width: fit-content;
    transition: all 0.5s;

    h4 {
        text-align: center;
        color: $white-color;
        margin: 4rem 0;
    }

}

li {

    position: relative;
    padding: .6rem 2rem;



    a {
        // position: absolute;
        display: inline-block;
        color: white;


        &:hover {
            background: $primary-color;

            .text {
                visibility: visible;
            }
        }


    }

}