@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

img,
svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.home {
  background: #4b45c2;
  color: #FFF;
  width: 100vw;
  height: 100vh;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav {
  position: fixed;
  background: inherit;
  height: 70px;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

nav::before {
  content: '';
  position: absolute;
  left: 0;
  border-bottom-right-radius: 200px;
  border-top-right-radius: 200px;
  background-color: #0099cc;
  width: 20px;
  height: 100%;
}

nav .logo {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

nav button {
  background: none;
  color: white;
  border: 1px solid #FFF;
  padding: .5rem 1rem;
  border-radius: .3rem;
  font-size: medium;
  font-weight: 700;
}

.landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}

.landing-showcase {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url("../img/rough-bg.png") no-repeat center/cover;
  background-position: -50px 75px;
  background-size: 150%;
}

.landing-showcase .landing-info {
  margin-top: 200px;
  font-size: x-large;
}

.landing-showcase .landing-info h1 .primary {
  color: #06eeb0;
}

.landing-showcase .landing-info h1 .secondary {
  color: rgba(242, 229, 177, 0.897);
}

.landing-showcase .landing-info p {
  font-size: 1.3rem;
}

.landing-showcase .landing-image {
  margin-top: -70px;
}

.app-information {
  padding: 2rem 0;
  color: #222;
  text-align: center;
}

.login-container {
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  margin: 0 auto;
  place-items: center;
  background: #4b45c2;
}

.login-container .login-showcase {
  background: #FFF;
  padding: 2rem;
  border-radius: 2rem;
  max-width: 80vw;
  margin: 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  gap: 50px;
}

.login-container .login-showcase .login-showcase-expression, .login-container .login-showcase .login-showcase-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  text-align: center;
}

.login-container .login-showcase .login-showcase-expression .login-header > *, .login-container .login-showcase .login-showcase-info .login-header > * {
  padding: .5rem 0;
}

.login-container .login-showcase .login-showcase-expression .login-image, .login-container .login-showcase .login-showcase-info .login-image {
  width: 100%;
  height: 100%;
}

.login-container .login-showcase .login-showcase-info .logo {
  width: 30%;
}

.login-container .login-showcase .login-showcase-info .logo span {
  font-weight: 700;
}

.login-container .login-showcase .login-showcase-info .login-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-container .login-showcase .login-showcase-info .login-form form > * {
  height: 40px;
  width: 250px;
  padding: 0 .5rem;
  margin: .5rem;
}

.login-container .login-showcase .login-showcase-info .login-form button {
  background-color: #4b45c2;
  color: #FFF;
  font-weight: 700;
}

.login-container .login-showcase .login-showcase-info .login-form button:hover {
  color: #2cccfd;
}

.login-container .login-showcase .login-showcase-info .login-form .other-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .5rem 1rem;
}

.login-container .login-showcase .login-showcase-info .login-form .other-options > * {
  background: none;
  color: #222;
  font-size: 14px;
  font-weight: 700;
  padding: .5rem 0;
  cursor: pointer;
}

.login-container .login-showcase .login-showcase-info .login-form .other-options > *:hover {
  text-decoration: underline;
}

.icon {
  font-size: 18px;
  color: #FFF;
  padding: .2rem;
}

.text {
  visibility: hidden;
}

aside {
  background: #003682;
  height: 100vh;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

aside h4 {
  text-align: center;
  color: #FFF;
  margin: 4rem 0;
}

li {
  position: relative;
  padding: .6rem 2rem;
}

li a {
  display: inline-block;
  color: white;
}

li a:hover {
  background: #4b45c2;
}

li a:hover .text {
  visibility: visible;
}

.dashboard {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  background: #074baa;
  line-height: 2rem;
}

.user-showcase {
  height: 60%;
  background: #FFF;
  padding: 2rem;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user-showcase h1 span {
  color: #2cccfd;
}

.user-showcase p {
  line-height: 1.3;
}

.user-showcase a {
  display: inline-block;
  margin-top: .5rem;
  padding: .1rem 2rem;
  background: #2cccfd;
  border-radius: .5rem;
}

.user-showcase a button {
  color: #FFF;
  font-weight: 700;
}

.courses h3, .courses .single-course .single-course-info h4, .single-course .single-course-info .courses h4 {
  margin-bottom: 1rem;
}

.courses .course-list div {
  text-transform: capitalize;
  margin-bottom: 1rem;
  text-align: center;
}

.courses .course-list div a {
  display: inline-block;
  padding: 1rem;
  color: #FFF;
  font-weight: 700;
}

.courses .course-list div:nth-child(n + 1) {
  background-color: #4b45c2;
}

.courses .course-list div:nth-child(2n + 1) {
  background-color: #2cccfd;
}

.single-course .single-course-img {
  background-color: #003682;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.single-course .single-course-img p {
  color: white;
  text-transform: capitalize;
  text-align: center;
  line-height: 2rem;
}

.single-course .single-course-info {
  margin: 1rem 0;
}

.single-course .single-course-info h3, .single-course .single-course-info h4 {
  padding: .5rem 0;
}

.single-course .single-course-info p {
  color: #222;
}

.single-course .single-course-info h4 {
  display: inline-block;
  border-bottom: 1px solid #2cccfd;
}

.single-course .single-course-info li {
  padding: .6rem 0;
}

.profile {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.profile .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile h1 {
  text-align: center;
}

.user-information .info {
  margin-top: 1.5rem;
}

.user-information .info > * {
  margin: .4rem 0;
}

.user-information .info span {
  font-size: 14px;
}

.user-information h3, .user-information .single-course .single-course-info h4, .single-course .single-course-info .user-information h4 {
  padding: .5rem 1rem;
  font-size: 18px;
  background: #f4f7f8;
}

.profile-img img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

.error .error-icon {
  width: 50%;
  padding-bottom: 2rem;
}

.error .error-info {
  text-align: center;
  line-height: 1.5;
}

.error .error-info span {
  color: #4b45c2;
}

.error .other-options {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.error .other-options button {
  width: 130px;
  height: 40px;
  margin-top: 2.5rem;
  color: #FFF;
  font-weight: 700;
  background: #4b45c2;
}

.error-message {
  margin: 1rem 0;
  padding: .5rem 1rem;
}

.error-message p {
  background: rgba(251, 84, 84, 0.948);
  border: red 1px solid;
  font-size: 14px;
  padding: .5rem 0;
  color: #FFF;
  min-width: 250px;
  min-height: 40px;
  background: #da0505;
}

@media screen and (min-width: 800px) {
  .landing .landing-showcase {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
    height: 500px;
  }
  .landing .landing-showcase .landing-info {
    margin-top: 0;
  }
  .landing .landing-image {
    margin: 0;
  }
  .landing .app-information {
    background-color: #FFF;
  }
  .login-container .login-showcase {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  aside {
    min-width: 180px;
  }
  aside .text {
    visibility: visible;
  }
  .dashboard {
    width: 100vw;
    height: 100vh;
  }
  .dashboard .user-showcase {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 400px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .dashboard .user-showcase h1 {
    font-size: 2rem;
  }
  .dashboard .user-showcase .user-img-showcase {
    height: 100%;
  }
  .dashboard .user-showcase .dashboard-user-info {
    min-width: 300px;
    line-height: 2;
  }
  .dashboard .user-showcase .dashboard-user-info button {
    width: 150px;
    border-radius: none;
  }
  .course-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1rem;
  }
  .course-list div {
    width: 170px;
  }
  .single-course .single-course-img {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .single-course .single-course-img p {
    text-transform: uppercase;
    font-weight: 700;
  }
  .single-course .single-course-img svg {
    width: 60%;
  }
  .profile .user-information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.5rem;
  }
  .profile .user-information .info {
    min-width: 170px;
    text-align: center;
  }
}

.user-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100vw;
}

.container {
  margin: 4rem 2rem;
}
/*# sourceMappingURL=index.css.map */